body{
  background-image:url("../images/background.jpg");
}
form{
  display: block;
}
.form-control{
  width: 400px;
}
header{
  text-align: center;
  color: silver;
  padding-bottom: 170px;
  padding-top:0;
}
h2{
  text-align: center;
}
#showDetails{
  display: none;
  font-size:20px;

}
#send{
  background-color: #F15A29;
}
