body{
  background-image:url("../images/images.png");
}
form{
  display: block;
}
.form-control{
  width: 400px;
}
header{
  text-align: center;
}
h2{
  text-align: center;
}
#showDetails{
  display: none;
  font-size:20px;

}
#send{
  background-color: #F15A29;
}
